<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Club</title>
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/takshashila.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="profile-photo"> 
            <a href="https://www.takshashilauniv.ac.in/" target="_blank" class="button">
                <img src="../img/profile1.png" alt="Profile Photo">
            </a>    
        </div>
        <button class="menu-toggle"><i class="fas fa-bars"></i></button>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
            <a href="login.html">Login</a>
        </div>
    </nav>
    
    <section class="hero1" id="home">
        <div class="floating-shapes1"></div>
        <div class="hero1-content">
            <h1>Welcome to Takshashila University</h1>
            <p>"Experience the future of education management"</p>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="about-content">
            <h2>About Takshashila University</h2>
            <div class="about-wrapper">
                <div class="about-text">
                    <p>TAKSHASHILA UNIVERSITY was established with the vision to recreate the glory of the ancient Takshashila, India's oldest university of higher learning.</p>
                    <p>It is part of the prestigious Sri Manakula Vinayagar and Mailam Group of Institutions with over 25 years of experience providing quality education.</p>
                    <p>The university promotes academic excellence through innovative teaching, state-of-the-art facilities, and a commitment to sustainability.</p>
                </div>
                <div class="college-images">
                    <img src="../img/clgpic.png" alt="College Picture">
                    <img src="../img/infrastructure.png" alt="Infrastructure">
                    <img src="../img/hall.png" alt="Hall">
                </div>
            </div>
            <div class="stats-container">
                <div class="stat-item">
                    <h3>150+</h3>
                    <p>Acres Of Integrated Campus</p>
                </div>
                <div class="stat-item">
                    <h3>64+</h3>
                    <p>Degree Programs</p>
                </div>
                <div class="stat-item">
                    <h3>10+</h3>
                    <p>Industry Tie-ups</p>
                </div>
            </div>
            <div class="attributes">
                <h3>Positive Attributes of Takshashila University</h3>
                <div class="attributes-grid">
                    <div class="attribute">
                        <i class="fas fa-graduation-cap"></i>
                        <p>Academic Excellence</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-lightbulb"></i>
                        <p>Innovative Teaching Methods</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-building"></i>
                        <p>State-of-the-Art Facilities</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-users"></i>
                        <p>Diverse and Inclusive Community</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-globe"></i>
                        <p>Global Perspective</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-flask"></i>
                        <p>Research Opportunities</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-briefcase"></i>
                        <p>Career Development Support</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-hands-helping"></i>
                        <p>Community Engagement</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-user-graduate"></i>
                        <p>Student Support Services</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-tree"></i>
                        <p>Commitment to Sustainability</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-paint-brush"></i>
                        <p>Arts and Culture</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-trophy"></i>
                        <p>Athletic Achievements</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-star"></i>
                        <p>Commitment to Student Success</p>
                    </div>
                    <div class="attribute">
                        <i class="fas fa-book-open"></i>
                        <p>Legacy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vision-mission">
            <div class="vm-item">
                <h3>VISION</h3>
                <p>To inspire, develop and create change makers and world leaders of tomorrow through knowledge similar to the ancient Takshashila University</p>
            </div>
            <div class="vm-item">
                <h3>MISSION</h3>
                <p>Nurturing and developing the leaders of tomorrow with the brightest minds and best resources, fostering lifelong learning and ethical excellence.</p>
            </div>
            <div class="vm-item">
                <h3>MOTTO</h3>
                <p>"Creating the leaders of tomorrow"- by nurturing curious minds with quality education, guidance and real-world experience.</p>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <div class="contact-content">
            <h2>Contact Info</h2>
            <div class="contact-grid">
                <div class="contact-item"><i class="fas fa-map-marker-alt"></i><h3>Address</h3><p>Ongur, Tindivanam Taluk, Villupuram District, Tamil Nadu 604 305.</p></div>
                <div class="contact-item"><i class="fas fa-envelope"></i><h3>Email</h3><p><a href="mailto:admission@takshilauniv.com">admission@takshilauniv.com</a></p></div>
                <div class="contact-item"><i class="fas fa-phone-alt"></i><h3>Phone</h3><p>9297623456 | 9297523456 | 04147-234567</p></div>
            </div>
        </div>
        <div class="social-links">
            <h3>Follow Us On</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/people/Takshashila-University/100083042965090/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/company/takshashila-university" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCgiO_98ZcbHUYdGxYPzq-jg" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/takshashilauniv/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftakshauniv" target="_blank" class="social-icon"><i class="fab fa-x"></i></a>
            </div>
        </div>
    </section>
    
    
    <a href="https://api.whatsapp.com/send?phone=919297523456&text=Hi%2C%20I%27d%20like%20to%20know%20more%20about%20the%20course%20details%2C%20can%20you%20help%20with%20that%3F" target="_blank" class="whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>

    <script src="../js/script.js"></script>
</body>
</html>
